<div class="bs-social-entitylist-menu-item {{classes}}">
	<div class="bs-social-entitylist-menu-item-actions-btn" role="button" tabindex="0" aria-label="{{tooltip}}" title="{{tooltip}}"><span class="updateCounter"></span></div>
</div>